*,
* ::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    display: grid;
    grid-template-rows: auto minmax(100vh) auto;
    
    
}
/* Home pag */
.my-element {
    display: inline-block;
    margin: 0 0.5rem;
    animation:bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
.ani2{
       display: inline-block;
        margin: 0 0.5rem;
        animation:bounce;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      
    
}
/* all section*/
section {
    scroll-margin-block: 6rem;
}
        

img[alt="logo"]{
    width:20rem;
    height:12rem;

}
img[alt="pic1"]{
    width: 19rem;}
    
/*Projects*/
img[alt="proje"]{
  width:10rem;
  height: 10rem;
}
#proj{
    width: 13rem;
}


/* Display -> flex height:;*/
:is(.heading-wrapper) {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
span{
    display: block;
}


.about-h1{
    font-size: 70px;}
    
/*testimonial*/
img[alt="testimonial"]{
    width:15rem ;
    height: 15rem;
}

#testimonials :is(.card) {
        width: 15rem;
        height: fit-content;
        background: #E8DED1;
    }
/*Projects*/
#edu{
    color:#492000 ;
    background-color: #D1C0A8;
}
.pinda{
    background-color: #D6C6B1;
}

.submit{
    width: 365px;
    height: 40px;
    border-radius: 6px;
     margin-bottom: 10px; 
    background-color: #468079;
}
.submit:hover{
    background-color: #2980b9;
}
#texta{
    width: 23.1rem ;
    height: 10rem ;
    background-color:#E8DED1;
}
#text{
    background-color:#E8DED1;
}

/*nav*/
#nav{
    position: fixed;
    top: 0px;
    /* LOL 
    z-index: 1000;*/
    justify-content: space-between;
    background: #E8DED1;
    color: #492000;
    width:87%;
    margin-left: 98px;
}
a{
    transition: all .3s;
}
.navbar a:is(:hover, :focus) {
    text-decoration: underline;
    scale: 1.2;
    background: #E8DED1;}

img[alt="logo"]{
        width: 3rem;
        height: 3rem;
}

footer{
    background: #492000;
    /* height: max-content; */
    color: #efe2bb;
    padding: 40px;
    width: 87%;
    margin-left: 98px;
    }
    
#icon{
    
    font-size: 10rem;
   color:#E8DED1;
    
}
/*flip*/
body {
    font-family: Arial, Helvetica, sans-serif;
  }
  #texta{
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  #text{
    height: 50px;
    width: 182px;
    border-radius: 10px;
  }
  
  .flip-card {
    background-color: transparent;
    width: 285px;
    height: 295px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  #skillcard{
    background-color: #468079 ;
  }
  #skillcard2{
    background-color: #bbb ;}

  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #468079;
    color: white;
    transform: rotateY(180deg);
  }
  .picture{
    margin-inline: 50px;
  }

 
  h2{
    justify-content: center;
    color: #492000;
    font-weight: bolder;}
    :is(#home, #education,#skills,#testimonials){
        background: #D6C6B1 ;
    }
    /* body :is(#home, #education,#skills,#testimonials){
        background: #BCAB79;
       
        
    } */
    :is(#about,#projects,#contact){
        background:#D1C0A8;
    }
    :is(){
        justify-content: center;
        align-items: center;        
    }
    .card{
        background:#468079;
        height:85% ;
        width: 100%;
        
    } 
@media all and (max-width:720px){
    img[alt='pic1']{
        height: auto;
        width: 200px;
    }
}